{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><b>{{ Grand_total }}</b></td>
            </tr>
        </tfoot>
        <tbody>
            {% for portfolio in portfolio %}
            <tr>
                <td>{{ portfolio["symbol"] }}</td>
                <td>{{ portfolio["name"] }}</td>
                <td>{{ portfolio["shares"] }}</td>
                <td>{{ portfolio["price"] }}</td>
                <td>{{ portfolio["TOTAL"] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td colspan="3"></td>
                <td>{{ Total_cash }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
